
$pdir-color: #7AC0BC;

.w10 { width: calc(10% - 30px); float: left; min-height: 80px; }
.w25 { width: calc(25% - 30px); float: left; min-height: 80px; }
.w33 { width: calc(33% - 30px); float: left; min-height: 80px; }
.w40 { width: calc(40% - 30px); float: left; min-height: 80px; }

#tl_navigation .group-pdir {
    background: url(../img/pdir_icon_pdir.svg) 0 0 no-repeat;
    background-size: 18px 18px;
}

#tl_navigation .businessReviewsSetup {
    background: url(../img/pdir_icon_business_reviews.svg) 13px 8px no-repeat;
    background-size: 15px 15px;
}

// default, everything above 1200px
.be_business_reviews_setup {
    padding: 0 1rem;

    p, h1, h2 {
        line-height: 150%;
        padding: 0;
        margin: 0;
    }
    h2 {
        font-size: 0.88rem;
        padding: 1rem 0;
    }
    .underline {
        border-bottom: 2px solid $pdir-color;
        padding: 1.1rem 0;
    }
    .br_icon {
        padding: 1rem 0 1rem 56px;
        background: transparent url(../img/logo.svg) 0 50% no-repeat padding-box;
        opacity: 1;
    }
    .flex {
        display: flex;
        display : -ms-flexbox;

        align-items: center;
        -ms-flex-align : center;

        justify-content: center;
        margin-bottom: 1rem;
    }
    .link-list {
        margin-bottom: 2rem;

        ul {
            color: $pdir-color;
        }

        li {
            padding: 5px 0 5px 0;

            a {
                color: $pdir-color;
                text-decoration: underline;
            }

            &:first-child {
                margin-top: 1rem;
            }
        }
    }

    .bundle_description {
        display: flex;
        align-items: stretch;

        flex-wrap : nowrap;
        justify-content: space-between;

        > div {
            flex: 0 0 48%;
        }
        .flex {
            img {
                width:100%;
                height:auto;
                margin:auto;
            }
        }
        a[href*="//"]:before {
            content: " ";
            background: url(../img/icon_external_link.svg) 0 3px no-repeat;
            background-size: 13px 13px;
            padding-left: 1rem;
        }
    }
    .bundle_editions {
        display: flex;
        flex-wrap: wrap;

        .editions_list {
            display: flex;
            flex-wrap : wrap;
            flex: 1 1 25%;
            justify-content: flex-start;

            .button_container {
                display: flex;
                flex-direction: column;
                flex: 0 0 200px;
                flex-wrap: wrap;

                .button {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    height: 354px;
                    width: 90%;
                    border-radius: 5px;
                    background-color: #ECECED;

                    > div:nth-child(1) {
                        padding: 0 1rem;

                        .price {
                            font-size: 1.5rem;
                            font-weight: bold;
                            color: $pdir-color;
                            padding: 1rem 0;
                        }

                        .payment {
                        }

                        .product {
                            font-size: 1.5rem;
                            font-weight: bold;
                            margin-bottom: 1.5rem;
                        }

                        .teaser {
                            line-height: 1.3rem;
                        }

                        .tl_select {
                            background-color: #ECECED;
                            height: 25px;
                            margin: 0;
                            padding: 0 20px 0 4px;
                        }
                    }

                    > div:nth-child(2) {
                        padding: 0 1rem 1.5rem 1rem;

                        a {
                            display: block;
                            width: 100%;
                            border-radius: 5px;
                            color: #fff;
                            overflow: hidden;
                            background-color: $pdir-color;
                            padding: 1rem 0.1rem;
                            text-align: center;

                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }

                hr {
                    width: 25%;
                    text-align: left;
                    border-top: 1px solid #A7A7A7;
                }

                h2 {
                    width: 90%;
                }
                .feature_list {
                    width: 90%;
                    padding-bottom: 1rem;

                    li {
                        line-height: 1.3rem;
                    }

                    .free {
                        display: block;
                        background: url(../img/icon_plus.svg) left 0.4rem no-repeat;
                        background-size: 10px 10px;
                        padding-left: 1rem;
                    }

                    .chargeable {
                        display: block;
                        background: url(../img/icon_check.svg) left 0.4rem no-repeat;
                        background-size: 10px 10px;
                        padding-left: 1rem;
                    }
                }
            }
        }
        .template_box {
            display: flex;
            flex-direction: column;
            flex: 0 1 299px;
            overflow: hidden;

            .template_offer {
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 5px;
                border: 1px solid $pdir-color;

                > img {
                    padding: 1rem;
                }
                h2 {
                    line-height: 100%;
                    padding: 1rem 1rem 0 1rem;
                }
                p {
                    color: #333A46;
                    font-size: 60%;
                    padding: 0 1rem 1rem 0;
                }
                .img_container {
                    display: flex;
                    margin: 1rem;
                    flex-flow: row nowrap;
                    align-items: center;

                    > div {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }

                }
            }
        }
    }
}

// large devices (large desktops <= 1200px)
@media screen and (max-width: 1200px) {
    .be_business_reviews_setup {

        .bundle_description {
            > div {
                width: calc(50% - 1rem);
            }
            .flex {
                img {
                    width: 100%;
                }
            }
        }
        .bundle_editions {

            .editions_list {
                justify-content: flex-start;

                .button_container {
                }
            }
            .template_offer {
                justify-content: center;
            }
        }
    }
}
// Medium devices (tablets, 768px and up)
@media screen and (max-width: 768px) {
    .be_business_reviews_setup {

        .bundle_description {
            display: block;
            div {
                width: 100%;
            }
        }
        .bundle_editions {
            .editions_list {
                flex-wrap: wrap;
                justify-content: flex-start;
            }
            .template_offer {}
        }
    }
}
// Small devices (landscape phones, 576px and up)
@media screen and (max-width: 576px) {
    .be_business_reviews_setup {
        margin: 0;
        padding: 0;

        .bundle_description {
            display: block;

        }
        .bundle_editions {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .editions_list {
                flex-wrap: wrap;
                justify-content: center;

                .button_container {
                    justify-items: center;
                    padding: 0.5rem;

                    .button {
                        width: 100%;
                    }
                }
            }
            .template_box {
                display: flex;
                .template_offer {
                    justify-content: center;
                }
            }
        }
    }
}


